# Python Performance Tips and Tricks

In [141]:
import time

In [142]:
ts = time.time()

#------------------------------
def ultimate_answer_to_life():
    return 42
ultimate_answer_to_life()
#------------------------------

te = time.time()

result1 = te - ts
print('%r  %2.2f msec' % ("Result is", result1*1000))

'Result is'  0.11 msec

In [143]:
def get_change(current, previous, round_value=1):
    if current == previous:
        print("Results are equals ")
    try:
        print("This code are {} times faster".format(round(previous / current, round_value)))
    except ZeroDivisionError:
        print("Seems that there is first result a equal zero")

In [144]:
ts = time.time()

#------------------------------
def ultimate_answer_to_life():
    time.sleep(0.00001)
    return 42
#------------------------------


ultimate_answer_to_life()
te = time.time()

result2 = te - ts
print('%r  %2.2f msec' % ("Result is", result2*1000))

'Result is'  0.31 msec

In [145]:
get_change(result1, result2)

This code are 2.9 times faster

# COUNT ELEMENTS IN A LIST

In [146]:
import random
ELEMENTS = random.sample(range(10005000), 1000000)

In [147]:
ts = time.time()


#------------------------------
how_many = 0
for element in ELEMENTS:
    how_many += 1
te = time.time()
#------------------------------

result1 = te - ts
print('%r  %2.3f msec' % ("Result is", result1*1000))

'Result is'  119.728 msec

In [148]:
ts = time.time()


#------------------------------
how_many = len(ELEMENTS)
#------------------------------

te = time.time()

result2 = te - ts
print('%r  %2.3f msec' % ("Result is", result2*1000))

'Result is'  0.058 msec

In [149]:
get_change(result2, result1)

This code are 2066.6 times faster

# FILTER A LIST

In [156]:
ts = time.time()


#------------------------------
output = []
for element in ELEMENTS:
    if element % 2:
        output.append(element)
#------------------------------


te = time.time()

result0 = te - ts
print('%r  %2.5f msec' % ("Result is", result1*1000))

'Result is'  161.95822 msec

In [159]:
ts = time.time()


#------------------------------
[filter(lambda x: x % 2, ELEMENTS)]
#------------------------------


te = time.time()

result1 = te - ts
print('%r  %2.5f msec' % ("Result is", result1*1000))

'Result is'  0.07701 msec

In [160]:
ts = time.time()

#------------------------------
[item for item in ELEMENTS if item % 2]
#------------------------------


te = time.time()

result2 = te - ts
print('%r  %2.5f msec' % ("Result is", result2*1000))

'Result is'  79.37789 msec

In [154]:
get_change(result2, result1)

This code are 2.0 times faster

In [155]:
get_change(result2, result0)

This code are 1.9 times faster

# PERMISSIONS OR FORGIVENESS ?

In [161]:
class Foo(object):
    hello = 'world'
foo = Foo()

In [162]:
ts = time.time()


#------------------------------
for x in range(1000000):
    getattr(foo, 'hello', None)
#------------------------------


te = time.time()

result1 = te - ts
print('%r  %2.5f msec' % ("Result is", result1*1000))

'Result is'  208.75406 msec

In [163]:
ts = time.time()

#------------------------------
for x in range(1000000):
    try:
        foo.hello
    except AttributeError:
        pass
#------------------------------


te = time.time()

result2 = te - ts
print('%r  %2.5f msec' % ("Result is", result2*1000))

'Result is'  92.43798 msec

In [165]:
get_change(result2, result1, round_value=5)

This code are 2.25831 times faster

In [166]:
d = {'hello':'bump'}

In [167]:
ts = time.time()


#------------------------------
for x in range(1000000):
    if 'hello' in d:
        d['hello']
#------------------------------


te = time.time()

result1 = te - ts
print('%r  %2.5f msec' % ("Result is", result1*1000))

'Result is'  117.41400 msec

In [168]:
ts = time.time()

#------------------------------
for x in range(1000000):
    try:
        d['hello']
    except KeyError:
        pass
#------------------------------


te = time.time()

result2 = te - ts
print('%r  %2.5f msec' % ("Result is", result2*1000))

'Result is'  94.63692 msec

In [169]:
get_change(result2, result1)

This code are 1.2 times faster

In [170]:
ts = time.time()


#------------------------------
for x in range(1000000):
    d.get('hello')
#------------------------------


te = time.time()

result1 = te - ts
print('%r  %2.5f msec' % ("Result is", result1*1000))

'Result is'  179.65794 msec

In [171]:
get_change(result2, result1)

This code are 1.9 times faster

In [172]:
foo.foo = 'foo'
foo.bar = 'bar'
foo.baz = 'baz'
ts = time.time()


#------------------------------
for x in range(1000000):
    if (hasattr(foo, 'foo') and hasattr(foo, 'bar') and hasattr(foo, 'baz')):
        foo.foo
        foo.bar
        foo.baz
#------------------------------


te = time.time()

result1 = te - ts
print('%r  %2.5f msec' % ("Result is", result1*1000))

'Result is'  697.53480 msec

In [173]:
ts = time.time()

#------------------------------
for x in range(1000000):
    try:
        foo.foo
        foo.bar
        foo.baz
    except AttributeError:
        pass
#------------------------------


te = time.time()

result2 = te - ts
print('%r  %2.5f msec' % ("Result is", result2*1000))

'Result is'  200.16623 msec

In [174]:
get_change(result2, result1)

This code are 3.5 times faster

In [175]:
class Bar(object): 
    pass
bar = Bar()

ts = time.time()


#------------------------------
for x in range(1000000):
    if hasattr(bar, 'hello'): 
        bar.hello
#------------------------------


te = time.time()

result1 = te - ts
print('%r  %2.5f msec' % ("Result is", result1*1000))

'Result is'  513.23628 msec

In [176]:
ts = time.time()

#------------------------------
for x in range(1000000):
    try:
        bar.hello
    except AttributeError: 
        pass
#------------------------------


te = time.time()

result2 = te - ts
print('%r  %2.5f msec' % ("Result is", result2*1000))

'Result is'  624.91083 msec

In [177]:
get_change(result1, result2)

This code are 1.2 times faster

# MEMBERSHIP TESTING

In [186]:
ts = time.time()


#------------------------------
def check_number(number):
    for item in ELEMENTS:
        if item == number: 
            return True
    return False
check_number(500000)
#------------------------------


te = time.time()

result1 = te - ts
print('%r  %2.5f msec' % ("Result is", result1*1000))

'Result is'  28.63312 msec

In [188]:
ts = time.time()

#------------------------------
def check_number(number):
    return number in ELEMENTS
check_number(500000)
#------------------------------


te = time.time()

result2 = te - ts
print('%r  %2.5f msec' % ("Result is", result2*1000))

'Result is'  14.45413 msec

In [190]:
get_change(result2, result1)

This code are 2.0 times faster

# REMOVE DUPLICATES

In [191]:
import random
ELEMENTS = random.sample(range(10005000), 10000)

In [210]:
ts = time.time()


#------------------------------
unique = []
for element in ELEMENTS:
    if element not in unique: 
        unique.append(element)
#------------------------------


te = time.time()

result1 = te - ts
print('%r  %2.5f msec' % ("Result is", result1*1000))

'Result is'  705.32203 msec

In [211]:
ts = time.time()

#------------------------------
[*set(ELEMENTS)]
#------------------------------


te = time.time()
result2 = te - ts
print('%r  %2.5f msec' % ("Result is", result2*1000))

'Result is'  1.35922 msec

In [212]:
get_change(result2, result1)

This code are 518.9 times faster

# 1000 OPERATIONS AND 1 FUNCTION

In [213]:
ts = time.time()


#------------------------------
def square(number): 
    return number**2
squares = [square(i) for i in range(10000)]
#------------------------------


te = time.time()

result1 = te - ts
print('%r  %2.5f msec' % ("Result is", result1*1000))

'Result is'  5.88012 msec

In [214]:
ts = time.time()

#------------------------------
def compute_squares():
    return [i**2 for i in range(10000)]
compute_squares()
#------------------------------


te = time.time()

result2 = te - ts
print('%r  %2.5f msec' % ("Result is", result2*1000))

'Result is'  4.49920 msec

In [215]:
get_change(result2, result1)

This code are 1.3 times faster

# CHECKING FOR TRUE

In [216]:
variable = True

In [217]:
ts = time.time()


#------------------------------
for x in range(1000000):
    if variable == True:
        pass
#------------------------------


te = time.time()


result1 = te - ts
print('%r  %2.5f msec' % ("Result is", result1*1000))

'Result is'  83.76098 msec

In [219]:
ts = time.time()

#------------------------------
for x in range(1000000):
    if variable is True:
        pass
#------------------------------


te = time.time()

result2 = te - ts
print('%r  %2.5f msec' % ("Result is", result2*1000))

'Result is'  81.74586 msec

In [220]:
get_change(result2, result1)

This code are 1.0 times faster

In [222]:
ts = time.time()

#------------------------------
for x in range(1000000):
    if variable:
        pass
#------------------------------


te = time.time()

result3 = te - ts
print('%r  %2.5f msec' % ("Result is", result3*1000))

'Result is'  72.24607 msec

In [223]:
get_change(result3, result1)

This code are 1.2 times faster

# LIST() OR []

In [224]:
ts = time.time()

my_list = (1,2,3)
#------------------------------
for x in range(1000000):
    list(my_list)
#------------------------------


te = time.time()

result1 = te - ts
print('%r  %2.5f msec' % ("Result is", result1*1000))

'Result is'  318.81618 msec

In [225]:
ts = time.time()

#------------------------------
for x in range(1000000):
    [1,2,3]
#------------------------------


te = time.time()

result2 = te - ts
print('%r  %2.5f msec' % ("Result is", result2*1000))

'Result is'  104.44903 msec

In [226]:
get_change(result2, result1)

This code are 3.1 times faster

In [229]:
ts = time.time()


#------------------------------
for x in range(1000000):
    dict()
#------------------------------


te = time.time()

result1 = te - ts
print('%r  %2.5f msec' % ("Result is", result1*1000))

'Result is'  227.55408 msec

In [230]:
ts = time.time()

#------------------------------
for x in range(1000000):
    {}
#------------------------------


te = time.time()

result2 = te - ts
print('%r  %2.5f msec' % ("Result is", result2*1000))

'Result is'  85.29091 msec

In [231]:
get_change(result2, result1)

This code are 2.7 times faster

# DANGER ZONE

In [232]:
ts = time.time()


#------------------------------
for x in range(10000000):
    q=1 
    w=2 
    e=3 
    r=4 
    t=5 
    y=6 
    u=7 
    i=8 
    o=9 
    p=0
#------------------------------


te = time.time()

result1 = te - ts
print('%r  %2.5f msec' % ("Result is", result1*1000))

'Result is'  2915.91883 msec

In [233]:
ts = time.time()

#------------------------------
for x in range(10000000):
    q,w,e,r,t,y,u,i,o,p = 1,2,3,4,5,6,7,8,9,0
#------------------------------


te = time.time()

result2 = te - ts
print('%r  %2.5f msec' % ("Result is", result2*1000))

'Result is'  2830.08790 msec

In [234]:
get_change(result2, result1)

This code are 1.0 times faster

In [235]:
ts = time.time()


#------------------------------
def squares(MILLION_NUMBERS): 
    output = []
    for element in MILLION_NUMBERS: 
        output.append(element*element)
    return output

squares(ELEMENTS)
#------------------------------


te = time.time()

result1 = te - ts
print('%r  %2.5f msec' % ("Result is", result1*1000))

'Result is'  2.49100 msec

In [236]:
ts = time.time()

#------------------------------
def squares_faster(MILLION_NUMBERS): 
    output = []
    append = output.append # <= !!!!!!!! for element in MILLION_NUMBERS:
    for element in MILLION_NUMBERS: 
        append(element*element) 
    return output
squares_faster(ELEMENTS)
#------------------------------


te = time.time()

result2 = te - ts
print('%r  %2.5f msec' % ("Result is", result2*1000))

'Result is'  1.90115 msec

In [237]:
get_change(result2, result1)

This code are 1.3 times faster

# JSON

In [238]:
json_test = \
"""{
    "title": "Person",
    "type": "object",
    "properties": {
        "firstName": {
            "type": "string"
        },
        "lastName": {
            "type": "string"
        },
        "age": {
            "description": "Age in years",
            "type": "integer",
            "minimum": 0
        }
    },
    "required": ["firstName", "lastName"]
}"""

In [239]:
import json

ts = time.time()


#------------------------------
for x in range(10000):
    d_object =json.loads(json_test)
#------------------------------


te = time.time()

result1 = te - ts
print('%r  %2.5f msec' % ("Result is", result1*1000))

'Result is'  79.97918 msec

In [254]:
d_obj = {'hello':'world',  'key':{'rrrr':'tttrt'}}

d_obj2 = dict(d_obj)
print(id(d_obj2), id(d_obj))
print(id(d_obj2['key']), id(d_obj['key']))

4507964832 4507964544
4507966992 4507966992

In [241]:
import ujson
ts = time.time()

#------------------------------
for x in range(10000):
    d_object =ujson.loads(json_test)
#------------------------------


te = time.time()

result2 = te - ts
print('%r  %2.5f msec' % ("Result is", result2*1000))

'Result is'  34.23595 msec

In [242]:
get_change(result2, result1)

This code are 2.3 times faster

# COPY OBJECTS

In [243]:
import copy

ts = time.time()


#------------------------------
for x in range(10000):
    copy.deepcopy(d_object)
#------------------------------


te = time.time()

result1 = te - ts
print('%r  %2.5f msec' % ("Result is", result1*1000))

'Result is'  283.35738 msec

In [244]:
import json
ts = time.time()

#------------------------------
for x in range(10000):
    json.loads(json.dumps(d_object))
#------------------------------


te = time.time()

result2 = te - ts
print('%r  %2.5f msec' % ("Result is", result2*1000))

'Result is'  167.30070 msec

In [245]:
import ujson
ts = time.time()

#------------------------------
for x in range(10000):
    ujson.loads(ujson.dumps(d_object))
#------------------------------


te = time.time()

result3 = te - ts
print('%r  %2.5f msec' % ("Result is", result3*1000))

'Result is'  58.73394 msec

In [246]:
get_change(result3, result1)

This code are 4.8 times faster

# STRING FORMATTING

In [286]:
ts = time.time()

#------------------------------
for x in range(10000000):
    "Hello []".format("world")
#------------------------------


te = time.time()

result1 = te - ts
print('%r  %2.5f msec' % ("Result is", result1*1000))

'Result is'  1813.73477 msec

In [287]:
ts = time.time()

#------------------------------
for x in range(10000000):
    "Hello %s" % "World"
#------------------------------


te = time.time()

result2 = te - ts
print('%r  %2.5f msec' % ("Result is", result2*1000))

'Result is'  456.35724 msec

In [288]:
get_change(result2, result1)

This code are 4.0 times faster

In [289]:
ts = time.time()

xx = ["Hello", " ", "World"]
#------------------------------
for x in range(10000000):
    "".join(xx)
#------------------------------


te = time.time()

result3 = te - ts
print('%r  %2.5f msec' % ("Result is", result3*1000))

'Result is'  1987.97798 msec

In [290]:
get_change(result3, result1)

This code are 0.9 times faster

In [291]:
ts = time.time()

word = "world"

#------------------------------
for x in range(100000):
    f"Hello {word}"
#------------------------------


te = time.time()

result4 = te - ts
print('%r  %2.5f msec' % ("Result is", result4*1000))

'Result is'  15.77687 msec

In [292]:
get_change(result3, result1)

This code are 0.9 times faster

In [293]:
get_change(result3, result1)

This code are 0.9 times faster

#  Intersection

In [294]:
A = random.sample(range(10005000), 10000)
B = random.sample(range(10000), 1000)


ts = time.time()

#------------------------------
unique_l = []
for ind in A:
    if ind not in B:
        unique_l.append(ind)
#------------------------------


te = time.time()

result0 = te - ts
print('%r  %2.5f msec' % ("Result is", result0*1000))

'Result is'  160.84003 msec

In [295]:
A = random.sample(range(10005000), 10000)
B = random.sample(range(10000), 1000)

ts = time.time()

#------------------------------
set(A) - set(B)
#------------------------------


te = time.time()

result2 = te - ts
print('%r  %2.5f msec' % ("Result is", result2*1000))

'Result is'  1.37496 msec

In [296]:
get_change(result2, result0)

This code are 117.0 times faster

In [297]:
A = random.sample(range(10005000), 10000)
B = random.sample(range(10000), 1000)

ts = time.time()

#------------------------------
[(set(A).intersection(B))]
#------------------------------


te = time.time()

result1 = te - ts
print('%r  %2.5f msec' % ("Result is", result1*1000))

'Result is'  0.76699 msec

In [298]:
get_change(result1, result0)

This code are 209.7 times faster

# Date parsing

In [300]:
from datetime import date
import random

start_date = date.today().replace(day=1, month=1).toordinal()
end_date = date.today().toordinal()
random_day = date.fromordinal(random.randint(start_date, end_date))

dates_string = [str(date.fromordinal(random.randint(start_date, end_date))) for _ in range(10000)]
dates_string

['2017-07-02',
 '2017-02-21',
 '2017-08-16',
 '2017-01-15',
 '2017-06-24',
 '2017-03-26',
 '2017-09-22',
 '2017-10-12',
 '2017-07-08',
 '2017-08-15',
 '2017-10-15',
 '2017-02-28',
 '2017-02-04',
 '2017-06-29',
 '2017-08-16',
 '2017-09-19',
 '2017-09-06',
 '2017-03-11',
 '2017-05-12',
 '2017-06-25',
 '2017-03-11',
 '2017-03-06',
 '2017-10-11',
 '2017-08-20',
 '2017-09-10',
 '2017-04-24',
 '2017-09-09',
 '2017-01-25',
 '2017-07-29',
 '2017-04-14',
 '2017-02-01',
 '2017-06-03',
 '2017-02-16',
 '2017-10-10',
 '2017-09-15',
 '2017-04-12',
 '2017-04-05',
 '2017-03-10',
 '2017-09-10',
 '2017-05-11',
 '2017-04-02',
 '2017-08-26',
 '2017-09-25',
 '2017-09-28',
 '2017-06-01',
 '2017-05-09',
 '2017-02-19',
 '2017-05-17',
 '2017-03-24',
 '2017-03-21',
 '2017-06-03',
 '2017-08-25',
 '2017-01-27',
 '2017-10-19',
 '2017-06-23',
 '2017-01-10',
 '2017-09-03',
 '2017-07-27',
 '2017-07-26',
 '2017-03-02',
 '2017-04-15',
 '2017-03-17',
 '2017-07-14',
 '2017-09-25',
 '2017-08-04',
 '2017-06-28',
 '2017-05-15',
 '2017-07-09',
 '2017-06-29',
 '2017-03-26',
 '2017-04-20',
 '2017-01-17',
 '2017-04-12',
 '2017-02-05',
 '2017-09-11',
 '2017-10-11',
 '2017-08-10',
 '2017-09-09',
 '2017-05-17',
 '2017-07-13',
 '2017-03-17',
 '2017-02-11',
 '2017-03-06',
 '2017-03-24',
 '2017-01-16',
 '2017-09-19',
 '2017-07-24',
 '2017-02-02',
 '2017-06-22',
 '2017-01-08',
 '2017-06-03',
 '2017-10-10',
 '2017-09-30',
 '2017-02-15',
 '2017-09-17',
 '2017-06-10',
 '2017-07-11',
 '2017-02-18',
 '2017-09-27',
 '2017-05-03',
 '2017-07-19',
 '2017-07-21',
 '2017-08-16',
 '2017-04-22',
 '2017-10-16',
 '2017-09-06',
 '2017-03-26',
 '2017-06-09',
 '2017-02-12',
 '2017-02-26',
 '2017-06-23',
 '2017-04-11',
 '2017-03-22',
 '2017-08-13',
 '2017-07-10',
 '2017-03-28',
 '2017-06-23',
 '2017-07-11',
 '2017-01-17',
 '2017-06-01',
 '2017-08-03',
 '2017-01-24',
 '2017-04-11',
 '2017-04-10',
 '2017-04-11',
 '2017-05-18',
 '2017-05-10',
 '2017-02-22',
 '2017-07-19',
 '2017-06-06',
 '2017-04-28',
 '2017-04-04',
 '2017-09-11',
 '2017-09-27',
 '2017-06-28',
 '2017-01-18',
 '2017-04-17',
 '2017-05-29',
 '2017-06-04',
 '2017-01-25',
 '2017-09-14',
 '2017-10-01',
 '2017-09-19',
 '2017-07-15',
 '2017-05-06',
 '2017-01-23',
 '2017-08-26',
 '2017-07-07',
 '2017-04-22',
 '2017-08-05',
 '2017-05-14',
 '2017-04-21',
 '2017-08-22',
 '2017-03-27',
 '2017-05-02',
 '2017-04-11',
 '2017-04-24',
 '2017-01-31',
 '2017-06-06',
 '2017-02-08',
 '2017-04-30',
 '2017-08-17',
 '2017-04-30',
 '2017-09-06',
 '2017-08-23',
 '2017-05-01',
 '2017-02-04',
 '2017-05-23',
 '2017-06-27',
 '2017-09-20',
 '2017-09-12',
 '2017-06-23',
 '2017-01-30',
 '2017-07-24',
 '2017-07-21',
 '2017-07-31',
 '2017-06-26',
 '2017-07-18',
 '2017-03-28',
 '2017-04-26',
 '2017-03-24',
 '2017-04-09',
 '2017-03-29',
 '2017-08-07',
 '2017-10-16',
 '2017-05-27',
 '2017-06-25',
 '2017-04-26',
 '2017-06-21',
 '2017-06-26',
 '2017-08-24',
 '2017-08-29',
 '2017-02-09',
 '2017-03-12',
 '2017-07-22',
 '2017-09-04',
 '2017-05-09',
 '2017-08-25',
 '2017-03-05',
 '2017-09-19',
 '2017-09-02',
 '2017-03-31',
 '2017-04-21',
 '2017-05-05',
 '2017-10-10',
 '2017-04-28',
 '2017-04-14',
 '2017-09-02',
 '2017-01-01',
 '2017-02-06',
 '2017-09-27',
 '2017-04-18',
 '2017-07-01',
 '2017-08-19',
 '2017-09-24',
 '2017-04-08',
 '2017-04-26',
 '2017-01-22',
 '2017-02-03',
 '2017-06-06',
 '2017-03-20',
 '2017-08-03',
 '2017-06-23',
 '2017-06-28',
 '2017-09-29',
 '2017-07-01',
 '2017-03-16',
 '2017-01-10',
 '2017-04-18',
 '2017-06-23',
 '2017-10-06',
 '2017-01-10',
 '2017-02-28',
 '2017-02-06',
 '2017-01-03',
 '2017-04-11',
 '2017-03-30',
 '2017-01-29',
 '2017-08-14',
 '2017-07-30',
 '2017-02-08',
 '2017-07-29',
 '2017-06-26',
 '2017-10-03',
 '2017-06-06',
 '2017-01-03',
 '2017-03-31',
 '2017-04-08',
 '2017-06-24',
 '2017-03-09',
 '2017-06-20',
 '2017-07-27',
 '2017-09-05',
 '2017-07-23',
 '2017-10-18',
 '2017-01-14',
 '2017-04-04',
 '2017-09-05',
 '2017-09-13',
 '2017-10-01',
 '2017-10-10',
 '2017-01-12',
 '2017-08-04',
 '2017-03-30',
 '2017-03-07',
 '2017-06-27',
 '2017-05-30',
 '2017-04-14',
 '2017-10-10',
 '2017-01-07',
 '2017-06-28',
 '2017-02-19',
 '2017-06-08',
 '2017-01-03',
 '2017-04-16',
 '2017-02-17',
 '2017-01-31',
 '2017-07-05',
 '2017-03-12',
 '2017-02-05',
 '2017-08-21',
 '2017-01-30',
 '2017-07-30',
 '2017-01-17',
 '2017-05-10',
 '2017-10-01',
 '2017-01-28',
 '2017-05-03',
 '2017-08-01',
 '2017-03-13',
 '2017-04-21',
 '2017-10-20',
 '2017-03-28',
 '2017-10-22',
 '2017-06-04',
 '2017-04-08',
 '2017-09-20',
 '2017-03-01',
 '2017-06-04',
 '2017-02-01',
 '2017-07-11',
 '2017-07-03',
 '2017-01-10',
 '2017-08-02',
 '2017-09-06',
 '2017-01-27',
 '2017-03-20',
 '2017-02-20',
 '2017-01-30',
 '2017-06-12',
 '2017-03-12',
 '2017-09-12',
 '2017-08-11',
 '2017-07-06',
 '2017-03-20',
 '2017-01-14',
 '2017-01-19',
 '2017-07-31',
 '2017-02-17',
 '2017-01-17',
 '2017-01-18',
 '2017-05-03',
 '2017-02-27',
 '2017-10-13',
 '2017-05-07',
 '2017-03-13',
 '2017-09-28',
 '2017-01-12',
 '2017-08-11',
 '2017-04-10',
 '2017-05-07',
 '2017-09-07',
 '2017-05-24',
 '2017-08-19',
 '2017-09-13',
 '2017-04-27',
 '2017-08-12',
 '2017-01-27',
 '2017-03-18',
 '2017-05-02',
 '2017-05-04',
 '2017-03-08',
 '2017-07-05',
 '2017-05-24',
 '2017-05-01',
 '2017-05-18',
 '2017-01-05',
 '2017-06-20',
 '2017-09-27',
 '2017-07-12',
 '2017-04-25',
 '2017-01-07',
 '2017-08-10',
 '2017-08-24',
 '2017-04-18',
 '2017-06-01',
 '2017-08-06',
 '2017-03-13',
 '2017-10-20',
 '2017-09-13',
 '2017-06-09',
 '2017-10-16',
 '2017-05-03',
 '2017-02-09',
 '2017-01-16',
 '2017-09-11',
 '2017-09-09',
 '2017-04-19',
 '2017-07-29',
 '2017-02-18',
 '2017-02-16',
 '2017-05-05',
 '2017-02-26',
 '2017-02-28',
 '2017-08-22',
 '2017-08-05',
 '2017-04-19',
 '2017-07-23',
 '2017-01-12',
 '2017-09-16',
 '2017-08-04',
 '2017-06-10',
 '2017-09-11',
 '2017-07-16',
 '2017-04-12',
 '2017-04-01',
 '2017-04-06',
 '2017-07-11',
 '2017-07-10',
 '2017-07-08',
 '2017-06-22',
 '2017-07-21',
 '2017-09-05',
 '2017-02-18',
 '2017-03-23',
 '2017-04-08',
 '2017-02-25',
 '2017-03-21',
 '2017-05-08',
 '2017-06-19',
 '2017-09-24',
 '2017-03-31',
 '2017-10-02',
 '2017-07-22',
 '2017-07-04',
 '2017-07-25',
 '2017-02-06',
 '2017-04-17',
 '2017-07-28',
 '2017-05-16',
 '2017-08-01',
 '2017-03-22',
 '2017-10-18',
 '2017-04-02',
 '2017-05-05',
 '2017-09-09',
 '2017-08-30',
 '2017-08-11',
 '2017-01-25',
 '2017-08-30',
 '2017-10-14',
 '2017-03-24',
 '2017-10-05',
 '2017-03-31',
 '2017-07-04',
 '2017-05-11',
 '2017-07-06',
 '2017-07-19',
 '2017-05-29',
 '2017-09-05',
 '2017-06-13',
 '2017-01-19',
 '2017-06-19',
 '2017-04-21',
 '2017-02-21',
 '2017-02-13',
 '2017-04-04',
 '2017-01-14',
 '2017-07-25',
 '2017-04-12',
 '2017-10-10',
 '2017-03-23',
 '2017-03-18',
 '2017-03-28',
 '2017-02-28',
 '2017-09-02',
 '2017-05-15',
 '2017-02-24',
 '2017-04-09',
 '2017-06-12',
 '2017-10-15',
 '2017-10-23',
 '2017-01-23',
 '2017-05-11',
 '2017-01-29',
 '2017-04-17',
 '2017-01-07',
 '2017-07-10',
 '2017-06-17',
 '2017-06-15',
 '2017-06-20',
 '2017-02-10',
 '2017-09-25',
 '2017-05-25',
 '2017-07-04',
 '2017-04-17',
 '2017-06-21',
 '2017-06-18',
 '2017-02-26',
 '2017-03-15',
 '2017-09-21',
 '2017-01-02',
 '2017-06-19',
 '2017-04-10',
 '2017-07-26',
 '2017-04-07',
 '2017-03-14',
 '2017-05-22',
 '2017-07-18',
 '2017-05-23',
 '2017-08-29',
 '2017-05-27',
 '2017-04-12',
 '2017-01-06',
 '2017-05-30',
 '2017-05-25',
 '2017-01-29',
 '2017-05-31',
 '2017-08-26',
 '2017-09-15',
 '2017-10-20',
 '2017-08-25',
 '2017-09-23',
 '2017-09-07',
 '2017-07-29',
 '2017-04-10',
 '2017-02-13',
 '2017-08-03',
 '2017-03-11',
 '2017-08-21',
 '2017-05-06',
 '2017-09-24',
 '2017-03-19',
 '2017-03-30',
 '2017-06-12',
 '2017-10-07',
 '2017-10-13',
 '2017-05-15',
 '2017-06-19',
 '2017-02-16',
 '2017-06-06',
 '2017-10-21',
 '2017-03-19',
 '2017-03-07',
 '2017-10-10',
 '2017-09-15',
 '2017-05-03',
 '2017-05-23',
 '2017-07-09',
 '2017-09-05',
 '2017-03-09',
 '2017-10-02',
 '2017-08-08',
 '2017-09-03',
 '2017-04-15',
 '2017-03-11',
 '2017-07-04',
 '2017-01-29',
 '2017-07-03',
 '2017-07-15',
 '2017-04-10',
 '2017-04-30',
 '2017-05-20',
 '2017-06-07',
 '2017-05-03',
 '2017-01-09',
 '2017-10-20',
 '2017-10-15',
 '2017-06-23',
 '2017-01-15',
 '2017-03-05',
 '2017-09-14',
 '2017-07-25',
 '2017-06-03',
 '2017-01-13',
 '2017-09-07',
 '2017-09-05',
 '2017-06-24',
 '2017-01-25',
 '2017-04-07',
 '2017-10-05',
 '2017-04-23',
 '2017-02-23',
 '2017-07-13',
 '2017-01-05',
 '2017-04-02',
 '2017-06-22',
 '2017-09-18',
 '2017-02-05',
 '2017-07-08',
 '2017-04-04',
 '2017-07-22',
 '2017-08-22',
 '2017-02-25',
 '2017-02-24',
 '2017-09-13',
 '2017-01-13',
 '2017-06-04',
 '2017-10-19',
 '2017-07-06',
 '2017-05-19',
 '2017-07-26',
 '2017-01-20',
 '2017-08-14',
 '2017-08-16',
 '2017-09-09',
 '2017-08-27',
 '2017-03-01',
 '2017-09-02',
 '2017-07-11',
 '2017-07-11',
 '2017-10-17',
 '2017-08-14',
 '2017-10-17',
 '2017-05-25',
 '2017-03-02',
 '2017-09-28',
 '2017-07-12',
 '2017-02-27',
 '2017-09-30',
 '2017-02-12',
 '2017-08-01',
 '2017-09-05',
 '2017-10-22',
 '2017-07-11',
 '2017-04-27',
 '2017-10-07',
 '2017-02-11',
 '2017-04-21',
 '2017-02-21',
 '2017-07-18',
 '2017-05-06',
 '2017-05-02',
 '2017-03-28',
 '2017-09-26',
 '2017-06-06',
 '2017-02-20',
 '2017-05-07',
 '2017-01-06',
 '2017-07-31',
 '2017-02-27',
 '2017-06-05',
 '2017-05-07',
 '2017-01-06',
 '2017-03-27',
 '2017-03-05',
 '2017-06-26',
 '2017-04-29',
 '2017-03-07',
 '2017-05-03',
 '2017-08-28',
 '2017-06-02',
 '2017-02-05',
 '2017-07-10',
 '2017-02-16',
 '2017-09-15',
 '2017-04-02',
 '2017-07-13',
 '2017-05-08',
 '2017-04-29',
 '2017-01-14',
 '2017-06-01',
 '2017-09-27',
 '2017-09-08',
 '2017-09-20',
 '2017-06-20',
 '2017-08-05',
 '2017-05-21',
 '2017-04-11',
 '2017-07-13',
 '2017-01-08',
 '2017-02-04',
 '2017-03-01',
 '2017-07-19',
 '2017-03-17',
 '2017-09-09',
 '2017-05-24',
 '2017-09-13',
 '2017-09-04',
 '2017-06-22',
 '2017-09-04',
 '2017-03-11',
 '2017-08-09',
 '2017-05-08',
 '2017-09-13',
 '2017-06-20',
 '2017-08-29',
 '2017-06-01',
 '2017-01-13',
 '2017-06-04',
 '2017-05-03',
 '2017-03-25',
 '2017-06-07',
 '2017-10-06',
 '2017-01-28',
 '2017-06-23',
 '2017-03-20',
 '2017-06-17',
 '2017-04-01',
 '2017-05-15',
 '2017-06-30',
 '2017-08-11',
 '2017-04-07',
 '2017-04-02',
 '2017-01-29',
 '2017-07-17',
 '2017-04-20',
 '2017-08-08',
 '2017-01-27',
 '2017-08-21',
 '2017-02-09',
 '2017-03-14',
 '2017-09-08',
 '2017-04-22',
 '2017-02-04',
 '2017-04-25',
 '2017-05-05',
 '2017-05-29',
 '2017-03-18',
 '2017-09-20',
 '2017-05-17',
 '2017-03-10',
 '2017-08-03',
 '2017-01-12',
 '2017-10-07',
 '2017-06-14',
 '2017-01-03',
 '2017-02-26',
 '2017-05-19',
 '2017-04-06',
 '2017-02-19',
 '2017-07-04',
 '2017-02-03',
 '2017-02-11',
 '2017-04-22',
 '2017-08-27',
 '2017-05-23',
 '2017-01-05',
 '2017-09-23',
 '2017-03-31',
 '2017-10-18',
 '2017-03-25',
 '2017-04-06',
 '2017-01-31',
 '2017-08-10',
 '2017-01-31',
 '2017-06-09',
 '2017-03-17',
 '2017-05-07',
 '2017-01-28',
 '2017-10-15',
 '2017-05-29',
 '2017-07-31',
 '2017-01-04',
 '2017-06-24',
 '2017-02-17',
 '2017-04-26',
 '2017-06-18',
 '2017-06-27',
 '2017-02-13',
 '2017-02-23',
 '2017-02-17',
 '2017-10-23',
 '2017-07-13',
 '2017-07-21',
 '2017-09-23',
 '2017-10-02',
 '2017-05-07',
 '2017-05-10',
 '2017-06-16',
 '2017-04-04',
 '2017-05-07',
 '2017-04-22',
 '2017-09-03',
 '2017-06-07',
 '2017-01-11',
 '2017-03-12',
 '2017-01-13',
 '2017-08-08',
 '2017-09-07',
 '2017-04-11',
 '2017-01-01',
 '2017-08-10',
 '2017-08-15',
 '2017-04-27',
 '2017-03-21',
 '2017-01-09',
 '2017-05-22',
 '2017-07-30',
 '2017-09-27',
 '2017-01-23',
 '2017-04-25',
 '2017-02-06',
 '2017-03-30',
 '2017-01-25',
 '2017-07-18',
 '2017-04-05',
 '2017-03-29',
 '2017-01-08',
 '2017-04-08',
 '2017-06-12',
 '2017-01-06',
 '2017-07-09',
 '2017-08-24',
 '2017-08-27',
 '2017-02-07',
 '2017-04-25',
 '2017-05-26',
 '2017-10-23',
 '2017-07-04',
 '2017-07-09',
 '2017-01-09',
 '2017-01-01',
 '2017-09-25',
 '2017-03-04',
 '2017-01-16',
 '2017-07-14',
 '2017-04-13',
 '2017-06-13',
 '2017-05-28',
 '2017-06-27',
 '2017-02-07',
 '2017-09-10',
 '2017-04-29',
 '2017-01-25',
 '2017-09-01',
 '2017-07-13',
 '2017-10-17',
 '2017-08-17',
 '2017-04-28',
 '2017-05-06',
 '2017-07-17',
 '2017-04-10',
 '2017-07-29',
 '2017-09-04',
 '2017-07-26',
 '2017-03-31',
 '2017-03-12',
 '2017-04-23',
 '2017-02-06',
 '2017-09-30',
 '2017-06-18',
 '2017-02-23',
 '2017-02-11',
 '2017-10-21',
 '2017-10-19',
 '2017-01-16',
 '2017-02-18',
 '2017-08-02',
 '2017-05-07',
 '2017-01-31',
 '2017-08-04',
 '2017-01-14',
 '2017-01-02',
 '2017-04-20',
 '2017-04-18',
 '2017-08-02',
 '2017-10-01',
 '2017-03-02',
 '2017-05-09',
 '2017-08-12',
 '2017-01-30',
 '2017-04-13',
 '2017-02-24',
 '2017-03-23',
 '2017-02-22',
 '2017-07-10',
 '2017-08-17',
 '2017-07-24',
 '2017-01-11',
 '2017-06-15',
 '2017-03-16',
 '2017-06-28',
 '2017-01-07',
 '2017-08-03',
 '2017-06-29',
 '2017-07-23',
 '2017-03-15',
 '2017-06-22',
 '2017-02-03',
 '2017-03-06',
 '2017-06-21',
 '2017-02-11',
 '2017-02-27',
 '2017-04-11',
 '2017-10-21',
 '2017-04-28',
 '2017-04-03',
 '2017-10-15',
 '2017-08-21',
 '2017-01-11',
 '2017-01-22',
 '2017-07-10',
 '2017-06-21',
 '2017-07-30',
 '2017-09-21',
 '2017-02-22',
 '2017-03-02',
 '2017-05-10',
 '2017-04-21',
 '2017-02-04',
 '2017-07-14',
 '2017-05-14',
 '2017-09-18',
 '2017-09-03',
 '2017-07-22',
 '2017-07-03',
 '2017-01-11',
 '2017-05-25',
 '2017-10-02',
 '2017-09-12',
 '2017-01-02',
 '2017-06-01',
 '2017-05-07',
 '2017-05-18',
 '2017-07-16',
 '2017-03-20',
 '2017-02-22',
 '2017-02-03',
 '2017-03-01',
 '2017-08-01',
 '2017-07-02',
 '2017-08-10',
 '2017-03-05',
 '2017-01-27',
 '2017-08-09',
 '2017-10-20',
 '2017-06-21',
 '2017-08-26',
 '2017-03-23',
 '2017-08-03',
 '2017-07-24',
 '2017-08-19',
 '2017-05-20',
 '2017-09-29',
 '2017-04-04',
 '2017-09-27',
 '2017-04-10',
 '2017-10-20',
 '2017-07-27',
 '2017-03-31',
 '2017-06-10',
 '2017-01-12',
 '2017-03-08',
 '2017-05-25',
 '2017-09-23',
 '2017-06-20',
 '2017-08-12',
 '2017-03-17',
 '2017-04-02',
 '2017-08-19',
 '2017-01-22',
 '2017-04-04',
 '2017-02-10',
 '2017-07-06',
 '2017-05-03',
 '2017-05-27',
 '2017-07-09',
 '2017-03-23',
 '2017-09-23',
 '2017-08-10',
 '2017-02-05',
 '2017-03-29',
 '2017-03-04',
 '2017-08-23',
 '2017-02-26',
 '2017-01-14',
 '2017-04-15',
 '2017-08-01',
 '2017-04-23',
 '2017-09-24',
 '2017-01-17',
 '2017-01-21',
 '2017-05-20',
 '2017-01-10',
 '2017-10-10',
 '2017-04-25',
 '2017-06-13',
 '2017-06-11',
 '2017-04-06',
 '2017-04-23',
 '2017-02-22',
 '2017-07-05',
 '2017-03-18',
 '2017-07-27',
 '2017-08-01',
 '2017-02-15',
 '2017-01-21',
 '2017-02-18',
 '2017-07-05',
 '2017-04-09',
 '2017-03-18',
 '2017-09-12',
 '2017-06-14',
 '2017-06-22',
 '2017-01-26',
 '2017-08-20',
 '2017-08-03',
 '2017-04-14',
 '2017-03-31',
 '2017-04-23',
 '2017-01-30',
 '2017-03-08',
 '2017-05-05',
 '2017-08-02',
 '2017-03-02',
 '2017-06-14',
 '2017-03-25',
 '2017-09-15',
 '2017-08-11',
 '2017-03-12',
 '2017-05-21',
 '2017-06-30',
 '2017-09-09',
 '2017-02-21',
 '2017-04-25',
 '2017-04-13',
 '2017-04-05',
 '2017-08-12',
 '2017-06-30',
 '2017-08-24',
 '2017-09-30',
 '2017-06-04',
 '2017-09-24',
 '2017-08-10',
 '2017-08-11',
 '2017-01-06',
 '2017-05-11',
 '2017-06-14',
 '2017-01-04',
 ...]

In [301]:
from dateutil import parser
ts = time.time()

#------------------------------
for date in dates_string:
    parser.parse(date)
#------------------------------


te = time.time()

result0 = te - ts
print('%r  %2.5f msec' % ("Result is", result0*1000))

'Result is'  555.57299 msec

In [302]:
import datetime
ts = time.time()

#------------------------------
for date in dates_string:
    datetime.datetime.strptime(date, '%Y-%m-%d')
#------------------------------


te = time.time()

result1 = te - ts
print('%r  %2.5f msec' % ("Result is", result1*1000))

'Result is'  116.58978 msec

In [303]:
get_change(result1, result0)

This code are 4.8 times faster